<h1>顧客管理システム</h1>

<%= link_to '新規登録', new_path %>

<table>
<tr>
	<th>ID</th>
	<th>業種</th>
	<th>会社名</th>
	<th>電話番号</th>
	<th>編集</th>
	<th>削除</th>
</tr>
<% @customer.each do |customer| %>
<tr>
	<td><%= customer.id %></td>
	<td><%= customer.job_type %></td>
	<td><%= customer.company_name %></td>
	<td><%= customer.tel %></td>
	<td><%= link_to '編集',edit_customer_path(customer) %></td>
	<td><%= link_to '削除',destroy_customer_path(customer), method: "delete",data: { confirm:'Are you sure?' } %></td>
</tr>


<% end %>
</table>