<h1>顧客新規登録</h1>
<%= form_for @customer, :url => {:action => 'create'} do |f| %>
	
<div>
	<%= f.label :職種 %> 
	<%= f.text_field :job_type %>
</div>
<div>
	<%= f.label :会社名 %> 
	<%= f.text_field :company_name %> 
</div>
<div>
	<%= f.label :電話番号 %> 
	<%= f.text_field :tel %>	
</div>
	<%= f.submit %>
<% end %>

<%= link_to '一覧へ', index_path %>