<!DOCTYPE html>
<html>
<head>
  <title>CRM1 | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "CRM1", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Index",    index_path %></li>
              <li><%= link_to "New",    new_path %></li>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "|　Sign up", signup_path %></li>
              <li><%= link_to "Sign in", signup_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
	    <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
